:root {
  --color-main: #4C5760;
  --color-main-semi: #4C5760a0;
  --color-main-hove: #dedee2;
  --color-main-fade: #dedee2;
  --color-main-thin: #4C576020;
  --color-font: #4C5760;
  --color-font-flip: #f4f4f5;
  --color-font-fade: #4C5760aa;
  --color-line: #f4f4f5;
  --color-line-back: #f4f4f5;
  --color-line-hove: #e6e6e6;
  --color-line-fade: #ebebeb;
  --color-line-fades: #E5F9E020;
  --color-edge: #DE6B48;
  --color-edge-fade: #DE6B4880;
  --color-safe: #22ff22;
  --color-hint: #ffff22;
  --color-warn: #ff2222;
  --shadow: 0 0 50px rgba(0,0,0,.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #CAD2EC;
    --color-main-semi: #4a546b;
    --color-main-hove: #2f3a53;
    --color-main-fade: #283249;
    --color-main-thin: #2C344020;
    --color-font: #CAD2EC;
    --color-font-flip: #1f2940;
    --color-font-fade: #CAD2ECaa;
    --color-line: #1f2940;
    --color-line-back: #1e283e;
    --color-line-hove: #1e283e;
    --color-line-fade: #1b263f60;
    --color-line-fades: #1f294020;
    --color-edge: #8C3D2E;
    --color-edge-fade: #8C3D2E80;
    --color-safe: #77ff77;
    --color-hint: #ffff77;
    --color-warn: #ff7777;
    --shadow: 0 0 50px rgba(0,0,0,.12);
  }
}
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-line-back);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

#__next {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem !important;
  }
}
main {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  padding: 30px;
  overflow: hidden;
  display: flex;
  justify-content: normal;
  align-items: stretch;
  align-content: normal;
}

#merge {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-main-fade);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#merge h1 {
  margin-bottom: 40px;
}
#merge .confirm {
  border-radius: 15px;
  background-color: var(--color-line);
  color: var(--color-font);
  text-align: center;
  padding: 40px;
}
#merge .invalid {
  display: inline-block;
  background-color: var(--color-edge);
  color: var(--color-font);
  padding: 0 8px;
  padding-bottom: 3px;
  border-radius: 10px;
  margin: 0 3px;
}
#merge .choice button {
  transition: 0.1s;
  margin: 0 10px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 5px 15px;
  padding-bottom: 8px;
  background-color: var(--color-main);
  cursor: pointer;
  color: var(--color-font);
}
#merge .choice button:hover {
  scale: 1.05;
}

.container {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: normal;
  align-content: normal;
}
@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

.shadowBox {
  box-shadow: var(--shadow);
  background-color: var(--color-line);
  border-radius: 30px;
  z-index: 0;
}
.shadowBox.shadowTodo {
  width: 400px;
  padding: 30px;
}
@media screen and (max-width: 750px) {
  .shadowBox.shadowTodo {
    width: calc(100% - 60px);
    height: 100%;
    order: 2;
  }
}
.shadowBox.shadowWelcome {
  overflow: hidden;
  position: relative;
  display: inline-block;
  flex-grow: 1;
  margin: 0 0 40px 40px;
  aspect-ratio: 2.15/1;
  border-radius: 20px;
}
@media screen and (max-width: 750px) {
  .shadowBox.shadowWelcome {
    margin: 0;
    width: calc(100% - 40px);
    order: 1;
  }
}
.shadowBox.shadowWidget {
  border-radius: 20px;
  margin: 0 0 40px 40px;
  width: calc(33.3333333333% - 40px - 4px);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.todo {
  border-radius: 30px;
  color: var(--color-font);
  background-color: var(--color-line);
}

.todolist {
  margin-top: 20px;
  width: 100%;
}

.list {
  height: 70px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 0.2s;
  border: solid 5px var(--color-main-fade);
  background-color: var(--color-main-fade);
  color: var(--color-main-fade);
}
.list:hover {
  background-color: var(--color-main-hove);
  border-color: var(--color-main-hove);
}
.list h2 {
  font-size: 1.3rem;
  color: var(--color-font);
  font-weight: 400;
}
.list p {
  color: var(--color-font-fade);
}
.list .mark {
  transition: 0.2s;
  margin-right: 20px;
  height: 100%;
  width: 5px;
}
.list .mark.safe {
  background-color: var(--color-safe);
}
.list .mark.hint {
  background-color: var(--color-hint);
}
.list .mark.warn {
  background-color: var(--color-warn);
}
.list .info {
  flex-grow: 1;
  padding: 7px 0;
}
.list .info h2 {
  white-space: nowrap;
  overflow: hidden;
}
.list .edit {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list .edit:hover .bi {
  color: #f89172;
}
.list .edit .bi {
  transition: 0.1s;
  margin: 2px 0;
  font-size: 2rem;
}
.list .edit .bi-check-circle-fill {
  font-size: 1.5rem;
}
.list.add {
  color: var(--color-font-fade);
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: dashed 2px;
  border-color: var(--color-main-semi);
  font-size: 2rem;
}
.list.add:hover {
  background-color: var(--color-line-hove);
  color: var(--color-font);
  border-style: solid;
  border-color: var(--color-main-semi);
}
.list.clear1 {
  height: 0;
  border: 0;
  margin: 0;
}
.list.clear2 {
  display: none;
}
.list:hover .mark {
  box-shadow: 0 0 20px rgba(0, 91, 151, 0.5333333333);
}
.list:hover .edit {
  background-color: var(--color-line-fade);
  color: var(--color-font);
  padding: 15px;
}

.blocks {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.blocks ::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 750px) {
  .blocks {
    margin-bottom: 30px;
  }
}

.box {
  max-height: calc(100% - 24px);
  min-height: calc(100% - 24px);
}
.box .top, .box .bot {
  display: flex;
}

.block {
  padding: 30px;
  position: relative;
  display: inline-block;
  background-color: var(--color-line);
  border-radius: 20px;
  color: var(--color-font);
  transition: color 0.2s, border-style 0.2s;
  aspect-ratio: 1/1;
  border: dashed 2px rgba(76, 87, 96, 0);
}
.block .taskList {
  margin-top: 20px;
  overflow: scroll;
  height: calc(100% - 40px);
}
.block h2 {
  display: flex;
  justify-content: space-between;
}
.block .edit {
  margin-left: 8px;
  font-size: 1.2rem;
}
.block .delete, .block .edit {
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}
.block .delete:hover, .block .edit:hover {
  opacity: 0.7 !important;
}
.block:hover .delete, .block:hover .edit {
  opacity: 0.1;
}
.block.empty {
  padding: 0;
  width: calc(33.3333333333% - 40px - 4px);
  margin: 0 0 40px 40px;
  border-color: var(--color-main-semi);
  background-color: transparent;
  color: var(--color-main-semi);
  cursor: pointer;
  display: flex;
}
.block.empty:hover {
  color: var(--color-font);
  border-style: solid;
  background-color: var(--color-line-hove);
}
.block.empty .choices {
  margin-top: 10px;
}
.block.empty .choice {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: var(--color-line-back);
}
.block.empty .choice:hover.addNew {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.block.empty .choice:hover.addNew .left {
  margin-left: 3px;
}
.block.empty .choice:hover.addNew .right {
  opacity: 0.8;
}
.block.empty .choice.invalid {
  color: var(--color-font-fade);
}
.block.empty .choice .bi {
  margin-right: 5px;
}
.block.empty .choice .left {
  transition: 0.3s;
}
.block.empty .choice .right {
  opacity: 0;
  transition: 0.3s;
  margin-right: 5px;
}
@keyframes activeAddWidget {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block.empty.active {
  cursor: default;
  color: var(--color-font);
  border-color: var(--color-line);
  background-color: var(--color-line);
  animation: activeAddWidget 0.3s;
}
.block.empty .add {
  padding: 20px;
  width: 100%;
}
.block.empty.plus {
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.block.empty h2 {
  display: flex;
  justify-content: space-between;
}
.block.empty .cancel {
  opacity: 0.1;
  transition: 0.2s;
  cursor: pointer;
}
.block.empty .cancel:hover {
  opacity: 0.7;
}

.widget {
  overflow: hidden;
  display: flex;
  position: absolute;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.widget.insert {
  align-items: center;
  font-size: 3rem;
}
.widget .body {
  padding: 30px;
  width: 100%;
}

.welcome {
  width: 100%;
  height: 100%;
  margin: 0 40px 40px 0;
  background-color: var(--color-line);
  color: var(--color-font);
  border-radius: 20px;
}
.welcome .inner {
  display: flex;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.welcome .pad {
  padding: 20px 30px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.welcome .head {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.welcome h1 {
  font-weight: normal;
}
.welcome .bi {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  transition: 0.2s;
  font-size: 1.5rem;
  opacity: 0.3;
}
.welcome .bi:hover {
  opacity: 1;
}

.time {
  display: inline-block;
  transition: 0.2s;
}
.time.fade {
  opacity: 0;
}

.shortcut {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .shortcut {
    margin-top: 30px;
  }
}
.shortcut .short {
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  height: 65px;
  opacity: 0;
  width: 0;
}
@media screen and (max-width: 750px) {
  .shortcut .short {
    padding: 0;
    width: 70px;
    opacity: 1;
  }
}
.shortcut .short.empty {
  width: 70px !important;
  opacity: 1 !important;
}
.shortcut .short:hover .delete {
  opacity: 0.3;
}
.shortcut .short:hover .delete:hover {
  opacity: 1;
}
.shortcut .cut {
  padding: 0 10px;
  width: 70px;
  opacity: 1;
}
.shortcut:hover .add {
  padding: 0 10px;
  width: 70px;
  opacity: 1;
}
.shortcut .delete {
  position: absolute;
  text-align: right;
  margin-top: -10px;
  cursor: pointer;
  transition: 0.3s;
  width: 70px;
  opacity: 0;
}
.shortcut img {
  background-color: var(--color-main);
  border-radius: 10px;
  margin-bottom: -5px;
  padding: 8px;
  height: 24px;
  width: 24px;
}
.shortcut button {
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.2rem;
  border-radius: 10px;
  border: dashed 2px #4C5760;
  background-color: transparent;
  height: 40px;
  width: 40px;
}
.shortcut button:hover {
  background-color: var(--color-main-thin);
}
.shortcut .alternate {
  background-color: var(--color-main);
  display: inline-block;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  letter-spacing: 0;
  color: var(--color-font-flip);
}
.shortcut .text {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  margin-top: 2px;
  width: 70px;
}
.shortcut .text span {
  text-overflow: ellipsis;
}

.spotTask {
  margin-bottom: 10px;
  display: flex;
  transition: 0.2s;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}
.spotTask:hover {
  padding-left: 5px;
}
.spotTask .mark {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
}
.spotTask .mark.safe {
  background-color: var(--color-safe);
}
.spotTask .mark.hint {
  background-color: var(--color-hint);
}
.spotTask .mark.warn {
  background-color: var(--color-warn);
}

.watermark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font);
  margin-left: 40px;
}
.watermark .line {
  display: inline-block;
  height: 2px;
  flex-grow: 1;
  background-color: var(--color-main-semi);
  margin-left: 20px;
  margin-top: 4px;
}
@media screen and (max-width: 750px) {
  .watermark {
    margin-left: 0;
    margin-top: 20px;
    order: 3;
  }
}

#popup {
  width: 100%;
  height: 100vh;
  transition: 0.3s;
  background-color: var(--color-line-fade);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  overflow: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  #popup {
    height: 100vmax;
    align-items: stretch;
  }
}
#popup .holder {
  padding: 40px;
  transition: 0.5s;
  border-radius: 20px;
  background-color: var(--color-line);
  border: solid 2px var(--color-main-fade);
}
@media screen and (max-width: 750px) {
  #popup .holder {
    border-width: 2px 0 2px 0;
    padding: 30px;
  }
}
@media screen and (min-width: 750px) {
  #popup .holder {
    width: 700px;
  }
}
#popup .button {
  display: flex;
  margin-top: 10px;
}
#popup button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 10px;
  transition: 0.2s;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
#popup button:hover {
  scale: 1.05;
}
#popup #submit {
  background-color: var(--color-main);
  color: var(--color-font-flip);
}
#popup #cancel {
  background-color: var(--color-edge);
  color: var(--color-font);
}
#popup form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#popup h3 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#popup label {
  flex-direction: column;
  display: flex;
}
#popup .auth {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#popup .auth .JSON {
  flex-grow: 2;
}
#popup .auth .NIM {
  flex-grow: 1;
}
#popup .auth .divider {
  padding: 0 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
}
#popup .upload {
  color: var(--color-font-fade);
  cursor: pointer;
}
#popup .upload:hover {
  color: var(--color-font);
}
#popup .input, #popup .react-datepicker__input-container > input, #popup .upload {
  transition: 0.2s;
  border-radius: 10px;
  border: solid 1px var(--color-line-fade);
  outline: none;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}
#popup .input:active, #popup .input:focus, #popup .react-datepicker__input-container > input:active, #popup .react-datepicker__input-container > input:focus, #popup .upload:active, #popup .upload:focus {
  border-color: var(--color-line);
}
#popup .react-datepicker__input-container {
  width: auto;
}
#popup .span {
  margin-left: 15px;
  display: block;
}
#popup .setting {
  padding-top: 10px;
}
#popup .setting .button {
  justify-content: left !important;
}
#popup .setting label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
}
#popup .setting .checkmark {
  transition: 0.2s;
  width: 3rem;
  height: 1.3rem;
  border: 1px solid var(--color-font);
  border-radius: 1.3rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
#popup .setting .slide {
  transition: 0.3s;
  height: 1rem;
  margin-left: 0.2rem;
  aspect-ratio: 1/1;
  border-radius: 1.3rem;
  background-color: var(--color-font);
}
#popup .setting input ~ .checkmark {
  background-color: var(--color-line-back);
}
#popup .setting input:checked ~ .checkmark {
  background-color: var(--color-font);
}
#popup .setting input:checked ~ .checkmark .slide {
  margin-left: calc(100% - 1rem - 0.2rem);
  background-color: var(--color-line);
}
#popup #Short .userInput {
  display: flex;
  flex-direction: row;
}
#popup #Short .userInput label:nth-of-type(1) {
  flex-grow: 1;
  margin-right: 30px;
}
#popup #Short .userInput label:nth-of-type(2) {
  flex-grow: 5;
}/*# sourceMappingURL=index.css.map */